<html>
This site is still under construction. But here is my info:</br>
Host: {{ grains['host'] }}</br>
</br>
And here is a cat:</br>
<img src='http://wrathofnino.files.wordpress.com/2009/07/technical.jpg'></img>
