<html>
This site is still under construction. But here is my info:</br>
Host: {{ grains['host'] }}</br>
Created by: {{ pillar['myname'] }}
</br>
And here is a cat:</br>
<img src='{{ pillar['lolcat'] }}'></img>
